@import url('https://fonts.googleapis.com/css2?family=Gentium+Plus&family=Poppins:wght@200&display=swap');

#content {
    max-width: 1600px;
    margin: 0 auto;
    font-family: "Gentium", Helvetica, sans-serif;
}

header {
    background-color: #574ae2;
    font-family: "Gentium", Helvetica, sans-serif;
    display: grid;
    grid-template-columns: 150px auto;
}

nav {
    display: flex;
    justify-content: space-around;
}
nav a:hover {
    background-color: #222a68;
    color: #ab81cd;
}
body {
    background-color: #222a68;
    font-family: "Gentium", Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
footer {
    background-color: #33658A;
    font-family: "Bitter", Helvetica, sans-serif;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav a {
    text-align: center;
    color: #222a68;
    text-decoration: none;
    padding: 35px;
}
footer h3 {
    text-decoration: underline;
    color: #654597;
    font-family: "Bitter", Helvetica, sans-serif;
}
footer a {
    text-decoration: none;
    color: #654597;
    font-family: "Bitter", Helvetica, sans-serif;
}
footer a:hover {
    text-decoration: underline;
    color: #ab81cd;
    font-family: "Bitter", Helvetica, sans-serif;
}

h1 {
    text-align: center;
    color: white;
}
.title {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 3fr 1fr 1fr 1fr;
}
.daw-img {
    width: 100%;
    height: 100%;
    grid-row: 1/3;
    grid-column: 1/1;
}
.title b1{
    text-align: center;
    color: white;
    grid-row-start: 1.5;
    grid-column-start: 3;
}
.title a {
    text-align: center;
    color: white;
    grid-row-start: 1.25;
    grid-column-start: 3;
}
.wav-img {
    width: 100%;
    height: 50%;
    grid-column-start: 3;
    grid-row-start: 1/3;
    
}